@font-face {
	font-family: "uncutSans";
	src: url(./fonts/Uncut-Sans-Regular.otf);
	font-style: normal;
}
html {
  padding: 0;
  margin: 0;
  font-size: 10px;
}
body {
  margin: auto;
  padding: 1rem;
  width: 100%;
  height: 100%;
  background-color: #ffbfd9;
  font-size: 2rem;
  font-family: uncutSans;
}
.container {
  margin: auto;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.titleStyle {
  font-size: 10rem;
}
.textStyle {
  font-size: 4rem;
}
